.footer {
  background-color: #f1eeee;
  border-top: 1px solid #cccaca; 
  color: #202020; 
  padding: 8px 10px;
  margin-top: auto; 
  text-align: center; 
}

.footerNav {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  gap: 30px; 
}

.footerLink {
  text-decoration: none;
  color: #1f1e1e;
  font-size: 14px;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #535252; 
}

.copyright {
  font-size: 12px;
  color: #888;
  margin-top: 15px;
}